<% content_for :title, "Editing logo placement" %>

<h1>Editing logo placement</h1>

<%= render "form", sponsor: @sponsor, logo_placement: @logo_placement %>

<br>

<div>
  <%= link_to "Show this logo placement", admin_panel_sponsor_logo_placement_path(@sponsor, @logo_placement) %> |
  <%= link_to "Back to sponsor", admin_panel_sponsor_path(@sponsor) %>
</div>