# <p style="color: green"><%= notice %></p>

# <% content_for :title, "Logo placements" %>

# <h1>Logo placements</h1>

# <div id="admin_panel_logo_placements">
#   <% @admin_panel_logo_placements.each do |admin_panel_logo_placement| %>
#     <%= render admin_panel_logo_placement %>
#     <p>
#       <%= link_to "Show this logo placement", admin_panel_logo_placement %>
#     </p>
#   <% end %>
# </div>

# <%= link_to "New logo placement", new_admin_panel_logo_placement_path %>
