<div id="<%= dom_id role_application %>">
  <p>
    <strong>User:</strong>
    <%= role_application.user_id %>
  </p>

  <p>
    <strong>Org role:</strong>
    <%= role_application.org_role %>
  </p>

  <p>
    <strong>Essay:</strong>
    <%= role_application.essay %>
  </p>

</div>
