<p style="color: green"><%= notice %></p>

<% content_for :title, "Role applications" %>

<h1>Role applications</h1>

<div id="role_applications">
  <% @role_applications.each do |role_application| %>
    <%= render role_application %>
    <p>
      <%= link_to "Show this role application", role_application %>
    </p>
  <% end %>
</div>

<%= link_to "New role application", new_role_application_path %>
