<% content_for :title, "New role application" %>

<h1>New role application</h1>

<%= render "form", role_application: @role_application %>

<br>

<div>
  <%= link_to "Back to role applications", role_applications_path %>
</div>
