<div class="events-page">
  <div class="page-header">
    <h1>Events</h1>
  </div>

  <% if @events.any? %>
    <div class="events-grid">
      <% @events.each do |event| %>
        <%= render event %>
      <% end %>
    </div>
  <% else %>
    <div class="events-empty-state">
      <p>No upcoming events.</p>
    </div>
  <% end %>
</div>


