<div class="admin-event-form-page">
  <div class="page-header">
    <h1>Edit Event</h1>
  </div>

  <div class="form-card">
    <%= render 'form', event: @event %>
  </div>

  <div class="form-footer">
    <%= button_to 'View Event', admin_panel_event_path(@event), method: :get, class: 'btn btn-outline', form: { style: 'display: inline;' } %>
    <%= button_to 'Back to Events', admin_panel_events_path, method: :get, class: 'btn btn-outline', form: { style: 'display: inline;' } %>
  </div>
</div>