<h1>Welcome, Sponsor</h1>

<p>Welcome to your Sponsor Dashboard. Quick links and current logos are shown below.</p>

<ul>
    <li><%= link_to 'View student resumes', '/resumes' %></li>
    <li>Logo Placements</li>
    <li>Major Design Updates</li>
    <!-- <li><%= link_to 'Logo Placements - Store Images Using Active Storage?', '/sponsor_dashboard/index' %></li> -->
</ul>

<div>
  <%= link_to "Home", root_path %>
</div>
