<% content_for :title, "Upload Resume" %>

<div class="resume-new-page">
  <div class="resume-new-container">
    <div class="page-header">
      <h1>Upload Your Resume</h1>
      <p class="subtitle">Please provide your resume and academic information</p>
    </div>

    <div class="resume-form-card">
      <%= render "form", resume: @resume %>
    </div>

    <div class="back-link-container">
      <%= button_to "Back to Profile", user_path(@user), method: :get, class: "btn btn-outline" %>
    </div>
  </div>
</div>
